@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


@theme {
  --font-sans: var(--font-geist-sans);
}

@import "./components/lightswind.css";



@font-face {
  font-family: "StudioFeixenSans";
  src: url("../src/components/fonts/StudioFeixenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "StudioFeixenSans";
  src: url("../src/components/fonts/StudioFeixenSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "StudioFeixenSans";
  src: url("../src/components/fonts/StudioFeixenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}


* {
  font-family: "StudioFeixenSans", sans-serif !important;
}




